<div id="main">
	<div class="car-main">
	<h1>购物车</h1>
	<div class="car-address">
		<table>
			<tr>
				<td>收货人</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>电话</td>
				<td></td>
				<td>修改 ></td>
			</tr>
			<tr>
				<td>收货地址</td>
				<td colspan="2"></td>
			</tr>
		</table>
	</div>
	<div class="info">
		<table>
			<tr>
				<td><span></span>闪送超市</td>
				<td class="cd">凑单专区</td>
				<td class="ps">￥0起送，22:00前满￥30免运费，22:00后满￥69免运费</td>
			</tr>
			<tr>
				<td>&nbsp;收货时间</td>
				<td>&nbsp;明天：09:00-10：00</td>
				<td>&nbsp;&nbsp;可预订 ></td>
			</tr>
			<tr>
				<td>&nbsp;收货备注</td>
				<td colspan="2">&nbsp;<input type="text" placeholder="可输入100字以内特殊要求内容"/></td>
			</tr>
		</table>
	</div>
	<div class="car-list">
		<ul class="car-list-ul">
			<!--<li>
				<img src=""/>
				<div class="car-product-name">
					
				</div>
				<div class="car-product-price">
					
				</div>
				<div class="product-operation">
					<span class="product-del em">
						-
					</span>
					<span class="product-number txt">
						
					</span>
					<span class="product-add em">
						+
					</span>
				</div>
			</li>-->
		</ul>
	</div>
	<div class="car-sum">
		<div class='car-check'><i class='fa fa-check-circle'></i></div>
		<div class="car-all">全选&nbsp;&nbsp;共：<span>￥80</span></div>
		<div class="car-end">选好了</div>
	</div>
</div>

</div>
